    .App-header{
      background-image: url(/static/media/background.bb51f793.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center bottom;
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: calc(10px + 2vmin);
      color: white;
    }