.App-header {
    background-image: url("./assets/img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
}

.main {
    position: relative;
    top: -25px;
    height: 480px;
    width: 980px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0px 0px 10px silver;
}

.inner-main {
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.title {
    position: absolute;
    top: -10px;
    color: #365a7a;
    font-size: 4rem;
    width: 800px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0;
}

.title:before {
    content: '';
    background: url("./assets/img/cloud-svgrepo-com.svg") no-repeat;
    background-size: 100%;
    width: 250px;
    height: 250px;
    display: block;
}

.today {
    position: relative;
    width: 350px;
    top: 90px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    /* visibility: hidden;
    opacity: 0; */
}

.today>h1 {
    margin-bottom: 15px;
}

.inner-main img {
    position: relative;
    left: -80px;
    top: 90px;
    width: 300px;
    transition: visibility 2s ease-out;
    height: 250px;
    visibility: hidden;
    opacity: 0;

}

.inner-main p {
    padding: 0px 0px 5px 0px;
    position: relative;
    transition: all 0.5s ease-out;
    color: #113555;
    margin: 0;
}

input {
    /* top: -20px; */
    width: 600px;
    display: inline-block;
    padding: 10px 0px 10px 30px;
    line-height: 120%;
    position: relative;
    border-radius: 20px;
    outline: none;
    font-size: 20px;
    transition: all 0.5s ease-out 0s;
}
.weather-box{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 180px;
    height: 180px;
    border-radius: 30%;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 3px 0px 8px silver;
    padding-bottom: 10px;
}
.weather-box-list{
    width: 850px;
    position: relative;
    top: 70px;
    display: flex;
    justify-content: space-around;
    align-content: center;
}
.weather-box > h1{
    margin-top: 25px;
    font-size: 20px;
}
.weather-box > img {
    width: 100px;
    height: 100px;
}